.row {
    margin-left: 20px;
    color: white;
}

.row-images {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 10px;
}

.row-image {
    object-fit: contain;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
    -webkit-transition: transform 450ms;
    -moz-transition: transform 450ms;
    -ms-transition: transform 450ms;
    -o-transition: transform 450ms;
}

.large-row {
    width: 100%;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
    -webkit-transition: transform 450ms;
    -moz-transition: transform 450ms;
    -ms-transition: transform 450ms;
    -o-transition: transform 450ms;
}

.large-row:hover {
    transform: scale(1.08);
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
}

.row-image:hover {
    transform: scale(1.08);
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
}

.row-images::-webkit-scrollbar {
    display: none;
}